# Ignora a pasta de dependências do Node.js em qualquer subdiretório
/syspzl-api/node_modules

# Ignora arquivos de variáveis de ambiente (MUITO IMPORTANTE PARA SEGURANÇA)
.env

# Logs do NPM
npm-debug.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db