/* src/system_plz/cameras/nova-camera/nova-camera.css */
@import url('../../sysplz.css'); /* Importa estilos base */

.form-group { margin-bottom: 1rem; }
.form-group label { display: block; margin-bottom: 0.5rem; font-weight: bold; }
.form-group input { width: 100%; padding: 0.75rem; border: 1px solid #ddd; border-radius: 5px; font-size: 1rem; }
.form-group small { display: block; margin-top: 0.25rem; font-size: 0.8rem; color: #777; }
form button { width: 100%; font-size: 1.1rem; border: none; cursor: pointer; margin-top: 1rem; }
#message-container .message { padding: 1rem; margin-top: 1rem; border-radius: 5px; color: #fff; text-align: center; }
.message.error { background-color: #e76f51; }
.message.success { background-color: #2a9d8f; }